{% extends 'Front/base.html.twig' %}

{% block body %}

    <div class="container docs-container">
        <div class="form-group">
                <a href="{{ path('newUser') }}" class="btn btn-primary" onclick="win">
                    Ajouter
                    <i class="material-icons">perm_identity</i>
                </a>
        </div>
        <div>
            <table id="table-user" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        {#<td><img src="{{ user.image }}" alt=""></td>#}
                        <td>
                            <a href="{{ path('editUser', {'id' : user.id } ) }}" class="btn btn-primary">
                                <i class="material-icons">edit</i>
                                Modifier
                            </a>
                            <a href="{{ path('removeUser', { 'id' : user.id } ) }}" class="btn btn-danger">
                                <i class="material-icons">delete</i>
                                Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
