/* 
    Created on : 27 déc. 2016, 09:44:32
    Author     : Niaina
*/

.login-logo > img {
    width: 120px;
}

.login-page, .register-page {
    background: white;
}

.login-box-body, .register-box-body {
    background: silver;
}