.select-wrapper span.caret{ display: none!important; }
.select-dropdown{ display: none!important; }
.form-control { padding: 0px!important; }
.yaybar ul{ font-size: 12px!important; }
label { font-size: 1rem!important; }
.kl-button-post-add { margin: 2%!important; }
.kl-btn-post { margin: 5px !important; }
.yaybar ul > li.yay-user-info > a .yay-user-info-name, .yaybar ul > li.yay-user-info > .sp-cancel .yay-user-info-name { font-size: 1.3rem!important; }