.add-btn-top-list{margin-bottom: 30px;}
.box-footer {   margin-top: 50px;   margin-bottom: 20px;}
.box-footer input{margin-left: 20px;}
.card-panel input[type="checkbox"] {visibility: inherit !important;position: inherit !important; display: block; margin: 0 auto; }
.checkbox-custom-style{text-align: left;display: inline-block !important;   margin-left: 12px !important;}
hr{margin: 55px 0;}
.kl-action-button-bloc .btn{padding: 0 1rem !important;}
.yay-user-info-name{font-size: 1rem !important;}
.input-field .prefix { left: 14px !important; top: 6px !important;}
.kl-footer {text-align: center!important;}
.kl-image-user-edit {width: 150px!important; margin: 10px!important;}
.inputfile {font-size: 10px!important;}
.nav-tabs{ display: none!important; }
.kl-expand {    position: absolute!important; right: -1px!important; top: 0px!important; }
.kl-profil-content {position: relative!important; }
.kl-user-content {right: 10px!important;}
body{ min-height: 800px!important; background: #F9F9F9!important;}
footer { position: fixed!important;width: 100%!important;bottom: 0!important;
    padding: 2rem; border-top: 1px solid #DEE1EC; background: #fff; height: 70px;}
footer p{ text-align: center; margin: 0; }
.kl-content-wrap { margin-bottom: 100px!important;}
td {text-align: center!important;}
@media screen and (max-width: 400px) {
    a.paginate_button.next{
        width: 100%!important;
    }
    a.paginate_button.previous {
        width: 100%!important;
    }
    a.paginate_button {
        width: auto!important;
    }
}
/*.kl-translate-tabs { margin-top: 17%!important; }*/
