
{% extends 'Front/base.html.twig' %}

{% block body %}
    <div class="container">
        <form action="{{ path('editUser',{'id' : user.id}) }}" method="post">
            <div class="container">
                <div class="form-group">
                    <input type="text" class="form-control" name="id" value="{{ user.id }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{ user.name }}" placeholder="inserer votre nom" name="name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="inserer votre email" value="{{ user.email }}" name="email" required>
                </div>
                <input type="submit" class="btn btn-primary" value="inserer" name="editer">
            </div>
        </form>
    </div>

{% endblock %}