{% extends 'Front/base.html.twig' %}
{% block body %}
    <div class="container docs-container">
        <form action= "{{ path('newUser') }}" method="post">
            <div class="container">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="inserer votre nom" name="name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="inserer votre email" name="email" required>
                </div>
                <input type="submit" class="btn btn-primary" value="inserer" name="inserer">
            </div>
        </form>
    </div>
{% endblock %}