<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Techzara api {% endblock %}</title>

        {% block stylesheets %}
            <!-- bootstrap.min.css -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset('frontoffice/assets/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- font-awesome.min.css -->
            <link href="{{ asset('frontoffice/assets/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
            <!-- slicknav.min.css -->
            <link href="{{ asset('frontoffice/assets/css/slicknav.min.css') }}" rel="stylesheet">
            <!-- magnific popup.css -->
            <link href="{{ asset('frontoffice/assets/css/magnific-popup.css') }}" rel="stylesheet">
            <!-- owl.css -->
            <link href="{{ asset('frontoffice/assets/css/owl.carousel.css') }}" rel="stylesheet">
            <!-- animate.min.css -->
            <link href="{{ asset('frontoffice/assets/css/animate.min.css') }}" rel="stylesheet">
            <!-- style.css -->
            <link href="{{ asset('frontoffice/assets/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('frontoffice/assets/css/custom.css') }}" rel="stylesheet" >
            <link href="{{ asset('frontoffice/assets/css/responsive.css') }}" rel="stylesheet" >
            <link href="{{ asset('frontoffice/assets/css/dtbootstrap.min.css') }}" rel="stylesheet" >
            <!--[if lt IE 9]-->
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <!--[endif]-->
        {% endblock %}
    </head>
    <body>
        {{ include('Front/base-header.html.twig') }}
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}

            <!-- jquery.js -->
            <script src="{{ asset('frontoffice/assets/js/jquery.js') }}"></script>
            <!-- jquery.popper.min.js -->

            <script src="{{ asset('frontoffice/assets/js/jquerydatatable.js') }}"></script>
            <script src="{{ asset('frontoffice/assets/js/btdatatable.js') }}"></script>
            <script src="{{ asset('frontoffice/assets/js/popper.min.js') }}"></script>
            <!-- bootstrap.min.js -->
            <script src="{{ asset('frontoffice/assets/js/bootstrap.min.js') }}"></script>
            <!-- jquery.slicknav.min.js -->
            <script src="{{ asset('frontoffice/assets/js/jquery.slicknav.min.js') }}"></script>
            <!-- jquery.magnific.min.js -->
            <script src="{{ asset('frontoffice/assets/js/jquery.magnific-popup.min.js') }}"></script>
            <!-- jquery.is sticky.min.js -->
            <script src="{{ asset('frontoffice/assets/js/jquery.sticky.js') }}"></script>
            <!-- jquery.owl.min.js -->
            <script src="{{ asset('frontoffice/assets/js/owl.carousel.min.js') }}"></script>
            <!-- jquery.wow.min.js -->
            <script src="{{ asset('frontoffice/assets/js/wow.min.js') }}"></script>
            <!-- main.js -->
            <script src="{{ asset('frontoffice/assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
