<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TECHZARA Atelier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto docs-nav-ul">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('crud') }}">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('newUser') }}">Nouveau</a>
                </li>
            </ul>
        </div>
    </nav>
</div>