@media screen and (max-width: 720px) {
    .kl-rows {width:100%!important;display: inherit!important;}
    .kl-content-article { margin: 0px!important;padding: 0px!important;display: inherit!important;}
    .kl-content-details { display: contents!important; }
    .kl-menu-content {display: inherit!important;}
}